// Make sure the charset is set appropriately
@charset "UTF-8";
@import 'compass';
@import 'compass/css3';

$lime-green: #26D673;
$black: #222222;

/* !패턴있음 */
body#tt-body-page.Diary {
	header {
		background:
		url(http://cfile2.uf.tistory.com/image/2374463C5380458F385BDA) no-repeat center center ;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.Books {
	header {
		background:
		url(http://cfile28.uf.tistory.com/image/27208D3A53803ABE188177) no-repeat center center ;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.iOS.Full.theme, body#tt-body-page.iOS.Lockscreen.theme, body#tt-body-page.iOS.iWidgets, body#tt-body-page.iOS.Tweak.theme, body#tt-body-page.iOS.Kakaotalk.theme, body#tt-body-page.iOS.Dreamboard.theme, body#tt-body-page.iOS.Custom.fonts {
	header {
		background:
		url(http://cfile25.uf.tistory.com/image/271D0F3A53803ABF09DBFD) no-repeat center center ;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.IT {
	header {
		background:
		url(http://cfile30.uf.tistory.com/image/24424D3A53803AC0140C55) no-repeat center center ;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.iOS.Theme.Bible {
	header {
		background:
		url(http://cfile22.uf.tistory.com/image/2160D33A53803AC210BDBC) no-repeat center center ;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.Tutorials {
	header {
		background: url(http://cfile3.uf.tistory.com/image/2244BB395432EA283143F8) no-repeat center 30%;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.Movies {
	header {
		background:
		url(http://cfile3.uf.tistory.com/image/2313B23A53803AC037D363) no-repeat center center;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.Notice {
	header {
		background: url(http://cfile5.uf.tistory.com/image/27785B335432EA25281889) no-repeat center top;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.IT.Column {
	header {
		background:
		url(http://cfile7.uf.tistory.com/image/233AD64F5334242A38A73E) no-repeat center top;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;		
	}
}

body#tt-body-page.블로그.운영일지 {
/* !네비게이션	 */
	nav {
				
		h1.blogName {

			a{
				color: $black;
				&:hover {
					color: $lime-green;
				}
			}
		}
		div.blogMenu {
			color: rgba($black,.8);		
			ul {
				li {
					a {
						color: rgba($black,.8);
						&:hover {
							color: $black;
							border-color: $black;
						}
					}
				}
			}
		}
		a#menuToggle {
			color: rgba($black,.8);
			&:hover {
				color: $lime-green;			
			}
		}		
		
	}

/* !이미지헤더 배경	 */
	header {
		width: 100%;
		height: 400px;	
/* 		background: url(../addon/column.jpg) no-repeat center top; */
		background: url(http://cfile8.uf.tistory.com/image/267873335432EA232829E7) no-repeat center 30%;
/*
		background: url(../addon/Free%20stock/IE.jpg) no-repeat center center;
		background: url(../addon/Free%20stock/Safari.jpg) no-repeat center center;
		background: url(../addon/Free%20stock/Opera.jpg) no-repeat center center;
		background: url(../addon/Free%20stock/Firefox.jpg) no-repeat center center;
*/
/* 		background: url(../addon/topgear.jpg) no-repeat center center ; */
/* 		background: url(../addon/diary.jpg) no-repeat center center ; */
/* 		background: url(../Free%20Image/unsplash_52b6b4db7397c_1.JPG) no-repeat center center; */
		background-size: cover;

		h2.articleTitle {
			a {
				text-decoration: none;
				color: $black;
				&:hover {
					color: $lime-green;
					text-shadow: white 0 0 0px;
				}								
			}
		}
	}
/* !바디	 */
}

body#tt-body-page.Top.gear {
	header {
		background:  url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI1cHgiIGhlaWdodD0iNXB4IiB2aWV3Qm94PSIwIDAgNSA1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1IDUiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cmVjdCBvcGFjaXR5PSIwLjIiIHdpZHRoPSI0Ljk4NCIgaGVpZ2h0PSI1Ii8+Cjwvc3ZnPg==),
		url(http://cfile8.uf.tistory.com/image/243C58365328CB9333C1A7) no-repeat center center ;
		  -webkit-background-size: auto, cover ;
		  -moz-background-size: auto, cover ;
		  -o-background-size: auto, cover;		
		background-size: auto, cover ;		
	}
}

body#tt-body-page.Fun {
	header {
		background:  url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI1cHgiIGhlaWdodD0iNXB4IiB2aWV3Qm94PSIwIDAgNSA1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1IDUiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cmVjdCBvcGFjaXR5PSIwLjIiIHdpZHRoPSI0Ljk4NCIgaGVpZ2h0PSI1Ii8+Cjwvc3ZnPg==),
		url(http://cfile8.uf.tistory.com/original/242036395321682F37ABFA) no-repeat center center fixed;
		  -webkit-background-size: auto, cover ;
		  -moz-background-size: auto, cover ;
		  -o-background-size: auto, cover;		
		background-size: auto, cover ;		
	}
}

/* !보호글 */
body#tt-body-page.protectedSecret {
	header {		
		background: url(http://cfile10.uf.tistory.com/image/227731335432EA2628A5F7) no-repeat center 10%;
		  -webkit-background-size:  cover ;
		  -moz-background-size: cover ;
		  -o-background-size: cover ;		
		background-size: cover ;					
	}	
}