@media only screen {
  /* line 11, ../sass/_mquery-article.scss */
  body#tt-body-page header {
    height: 40px; }
    /* line 13, ../sass/_mquery-article.scss */
    body#tt-body-page header h1.blogName {
      font-size: 20px; }
    /* line 16, ../sass/_mquery-article.scss */
    body#tt-body-page header div.blogMenu {
      margin-top: 10px;
      display: none; }
    /* line 20, ../sass/_mquery-article.scss */
    body#tt-body-page header a#menuToggle {
      display: inline-block;
      margin-top: 5px; }
    /* line 24, ../sass/_mquery-article.scss */
    body#tt-body-page header div.mobileMenu {
      display: none;
      top: 40px; }
  /* line 29, ../sass/_mquery-article.scss */
  body#tt-body-page header.tiny {
    height: 40px; }
    /* line 31, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny h1.blogName {
      font-size: 20px; }
    /* line 34, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny div.blogMenu {
      margin-top: 10px;
      display: none; }
    /* line 38, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny a#menuToggle {
      display: inline-block;
      margin-top: 5px; }
    /* line 42, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny div.mobileMenu {
      display: none;
      top: 40px; }
  /* line 47, ../sass/_mquery-article.scss */
  body#tt-body-page section.header {
    height: 250px;
    padding-top: 115px; }
    /* line 50, ../sass/_mquery-article.scss */
    body#tt-body-page section.header h2 {
      font-size: 20px; }
  /* line 54, ../sass/_mquery-article.scss */
  body#tt-body-page div.category {
    font-size: 16px; }
  /* line 57, ../sass/_mquery-article.scss */
  body#tt-body-page div.articleDate {
    float: none;
    clear: both;
    margin-top: 10px;
    height: 30px; }
    /* line 62, ../sass/_mquery-article.scss */
    body#tt-body-page div.articleDate div.time {
      float: left; }
  /* line 66, ../sass/_mquery-article.scss */
  body#tt-body-page div.articleBody {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%; }
  /* line 71, ../sass/_mquery-article.scss */
  body#tt-body-page div.metaWidget {
    width: 300px; }
    /* line 73, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaDaum {
      width: 100%;
      max-width: 302px; }
    /* line 77, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaMix {
      width: 100%;
      max-width: 302px;
      display: none; }
  /* line 83, ../sass/_mquery-article.scss */
  body#tt-body-page nav#sidebar {
    padding-left: 5%;
    padding-right: 5%;
    top: 0px;
    width: 100%; }
    /* line 88, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#noticeSide {
      display: inline-block;
      width: 250px; }
    /* line 92, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#recentPost {
      display: inline-block;
      width: 250px; }
    /* line 96, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#archive {
      display: inline-block;
      width: 250px; }
    /* line 100, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#calendar {
      display: inline-block;
      width: 250px; }
    /* line 104, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#link {
      display: inline-block;
      width: 250px; }
  /* line 110, ../sass/_mquery-article.scss */
  body#tt-body-page footer ul.social, body#tt-body-page footer div.line {
    display: none; }
  /* line 114, ../sass/_mquery-article.scss */
  body#tt-body-page div.google {
    width: 300px;
    margin-left: -20px; } }
/* Define mobile styles */
@media only screen and (min-width: 40.063em) {
  /* line 124, ../sass/_mquery-article.scss */
  body#tt-body-page header {
    height: 60px; }
    /* line 126, ../sass/_mquery-article.scss */
    body#tt-body-page header h1.blogName {
      font-size: 30px; }
    /* line 129, ../sass/_mquery-article.scss */
    body#tt-body-page header div.blogMenu {
      margin-top: 15px;
      display: none; }
    /* line 133, ../sass/_mquery-article.scss */
    body#tt-body-page header a#menuToggle {
      display: inline-block;
      margin-top: 15px; }
    /* line 137, ../sass/_mquery-article.scss */
    body#tt-body-page header div.mobileMenu {
      display: none;
      top: 60px; }
  /* line 142, ../sass/_mquery-article.scss */
  body#tt-body-page header.tiny {
    height: 60px; }
    /* line 144, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny h1.blogName {
      font-size: 30px; }
    /* line 147, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny div.blogMenu {
      margin-top: 15px;
      display: none; }
    /* line 151, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny a#menuToggle {
      display: inline-block;
      margin-top: 15px; }
    /* line 155, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny div.mobileMenu {
      display: none;
      top: 60px; }
  /* line 160, ../sass/_mquery-article.scss */
  body#tt-body-page div.category {
    font-size: 18px; }
  /* line 163, ../sass/_mquery-article.scss */
  body#tt-body-page section.header {
    height: 325px;
    padding-top: 165px; }
    /* line 166, ../sass/_mquery-article.scss */
    body#tt-body-page section.header h2 {
      font-size: 30px; }
  /* line 170, ../sass/_mquery-article.scss */
  body#tt-body-page div.articleDate {
    float: right;
    margin-top: -35px; }
    /* line 173, ../sass/_mquery-article.scss */
    body#tt-body-page div.articleDate div.time {
      float: right; }
  /* line 177, ../sass/_mquery-article.scss */
  body#tt-body-page div.articleBody {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%; }
  /* line 182, ../sass/_mquery-article.scss */
  body#tt-body-page div.metaWidget {
    width: 402px; }
    /* line 184, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaDaum {
      width: 100%;
      max-width: 402px; }
    /* line 188, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaMix {
      width: 100%;
      max-width: 402px;
      display: block; }
  /* line 194, ../sass/_mquery-article.scss */
  body#tt-body-page nav#sidebar {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    top: 0px;
    background: none; }
    /* line 200, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#noticeSide {
      display: inline-block;
      width: 250px; }
    /* line 204, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#recentPost {
      display: inline-block;
      width: 250px; }
    /* line 208, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#archive {
      display: inline-block;
      width: 250px; }
    /* line 212, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#calendar {
      display: inline-block;
      width: 250px; }
    /* line 216, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div#link {
      display: inline-block;
      width: 250px; }
    /* line 220, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div.categoryList {
      margin: 10px 0; }
      /* line 222, ../sass/_mquery-article.scss */
      body#tt-body-page nav#sidebar div.categoryList ul {
        font-weight: 200;
        font-size: 24px;
        text-align: center;
        margin-left: 5px;
        list-style: none; }
        /* line 230, ../sass/_mquery-article.scss */
        body#tt-body-page nav#sidebar div.categoryList ul li a {
          color: #000;
          display: block;
          border-top: #E5E5E5 0px solid;
          border-bottom: #E5E5E5 0px solid;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition-property: background, color;
          -moz-transition-property: background, color;
          -o-transition-property: background, color;
          transition-property: background, color;
          -webkit-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
          /* line 242, ../sass/_mquery-article.scss */
          body#tt-body-page nav#sidebar div.categoryList ul li a:hover {
            color: #26d673;
            text-decoration: none;
            background: #E5E5E5;
            border-left: 1px #26d673 solid;
            padding-right: 1px;
            -webkit-transition-property: background, color;
            -moz-transition-property: background, color;
            -o-transition-property: background, color;
            transition-property: background, color;
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: ease;
            -moz-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease; }
        /* line 254, ../sass/_mquery-article.scss */
        body#tt-body-page nav#sidebar div.categoryList ul li:hover > ul {
          display: block; }
        /* line 259, ../sass/_mquery-article.scss */
        body#tt-body-page nav#sidebar div.categoryList ul li ul {
          display: block;
          position: relative;
          width: intrinsic;
          margin-top: 0;
          right: 0;
          background: none;
          -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0px;
          -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 0px;
          font-size: 16px;
          margin-top: 0px;
          text-align: left;
          clear: both; }
          /* line 271, ../sass/_mquery-article.scss */
          body#tt-body-page nav#sidebar div.categoryList ul li ul li {
            font-weight: 700; }
            /* line 273, ../sass/_mquery-article.scss */
            body#tt-body-page nav#sidebar div.categoryList ul li ul li ul {
              right: 0;
              clear: both;
              display: block;
              height: 20px; }
              /* line 279, ../sass/_mquery-article.scss */
              body#tt-body-page nav#sidebar div.categoryList ul li ul li ul li {
                float: left;
                display: block;
                margin-right: 1em;
                border-left: 1px #00a441 solid;
                padding: 0 10px;
                font-weight: 300; }
  /* line 296, ../sass/_mquery-article.scss */
  body#tt-body-page footer ul.social, body#tt-body-page footer div.line {
    display: block; }
  /* line 300, ../sass/_mquery-article.scss */
  body#tt-body-page div.google {
    width: 470px;
    margin-left: auto; } }
/* min-width 641px, medium screens */
@media only screen and (min-width: 64.063em) {
  /* line 310, ../sass/_mquery-article.scss */
  body#tt-body-page header {
    height: 80px; }
    /* line 312, ../sass/_mquery-article.scss */
    body#tt-body-page header h1.blogName {
      font-size: 45px; }
    /* line 315, ../sass/_mquery-article.scss */
    body#tt-body-page header div.blogMenu {
      margin-top: 25px;
      display: block; }
      /* line 320, ../sass/_mquery-article.scss */
      body#tt-body-page header div.blogMenu ul li a {
        padding-bottom: 20px; }
        /* line 322, ../sass/_mquery-article.scss */
        body#tt-body-page header div.blogMenu ul li a:hover {
          border-bottom: 5px solid #26d673; }
    /* line 329, ../sass/_mquery-article.scss */
    body#tt-body-page header a#menuToggle {
      display: none; }
    /* line 332, ../sass/_mquery-article.scss */
    body#tt-body-page header div.mobileMenu {
      display: none; }
  /* line 336, ../sass/_mquery-article.scss */
  body#tt-body-page header.tiny {
    height: 60px; }
    /* line 338, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny h1.blogName {
      font-size: 30px; }
    /* line 341, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny div.blogMenu {
      margin-top: 15px;
      display: block; }
    /* line 345, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny a#menuToggle {
      display: none; }
    /* line 348, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny div.mobileMenu {
      display: none; }
  /* line 352, ../sass/_mquery-article.scss */
  body#tt-body-page section.header {
    height: 350px;
    padding-top: 175px; }
    /* line 355, ../sass/_mquery-article.scss */
    body#tt-body-page section.header h2 {
      font-size: 40px; }
  /* line 359, ../sass/_mquery-article.scss */
  body#tt-body-page div.category {
    font-size: 24px; }
  /* line 362, ../sass/_mquery-article.scss */
  body#tt-body-page div.articleBody {
    width: 75%;
    padding-left: 5%;
    padding-right: 2%; }
  /* line 367, ../sass/_mquery-article.scss */
  body#tt-body-page div.metaWidget {
    width: 804px; }
    /* line 369, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaDaum {
      width: 100%;
      max-width: 402px; }
    /* line 373, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaMix {
      width: 100%;
      max-width: 402px; }
  /* line 378, ../sass/_mquery-article.scss */
  body#tt-body-page nav#sidebar {
    padding-left: 2%;
    padding-right: 2%;
    width: 25%;
    top: -175px;
    background: #F4F4F4; }
    /* line 384, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar h3.sideTitle {
      font-size: 20px;
      font-weight: 200;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
    /* line 389, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div.categoryList {
      margin: 10px 0; }
      /* line 391, ../sass/_mquery-article.scss */
      body#tt-body-page nav#sidebar div.categoryList ul {
        font-weight: 200;
        font-size: 24px;
        text-align: center;
        margin-left: 0;
        list-style: none; }
        /* line 398, ../sass/_mquery-article.scss */
        body#tt-body-page nav#sidebar div.categoryList ul li a {
          color: #000;
          display: block;
          border-top: #E5E5E5 1px solid;
          border-bottom: #E5E5E5 1px solid;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition-property: background, color;
          -moz-transition-property: background, color;
          -o-transition-property: background, color;
          transition-property: background, color;
          -webkit-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
          /* line 410, ../sass/_mquery-article.scss */
          body#tt-body-page nav#sidebar div.categoryList ul li a:hover {
            color: #26d673;
            text-decoration: none;
            background: #E5E5E5;
            border-left: 1px #26d673 solid;
            padding-right: 1px;
            -webkit-transition-property: background, color;
            -moz-transition-property: background, color;
            -o-transition-property: background, color;
            transition-property: background, color;
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: ease;
            -moz-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease; }
        /* line 422, ../sass/_mquery-article.scss */
        body#tt-body-page nav#sidebar div.categoryList ul li:hover > ul {
          display: block; }
        /* line 427, ../sass/_mquery-article.scss */
        body#tt-body-page nav#sidebar div.categoryList ul li ul {
          display: none;
          position: absolute;
          width: 300px;
          margin-top: -50px;
          right: 90%;
          background: rgba(255, 255, 255, 0.9);
          -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
          -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
          font-size: 18px;
          margin-top: -30px;
          text-align: center;
          clear: both; }
          /* line 439, ../sass/_mquery-article.scss */
          body#tt-body-page nav#sidebar div.categoryList ul li ul li {
            font-weight: 200; }
            /* line 441, ../sass/_mquery-article.scss */
            body#tt-body-page nav#sidebar div.categoryList ul li ul li ul {
              right: 100%;
              clear: both;
              display: none;
              height: auto; }
              /* line 446, ../sass/_mquery-article.scss */
              body#tt-body-page nav#sidebar div.categoryList ul li ul li ul li {
                float: none;
                display: block;
                margin-right: auto;
                border-left: 0px #00a441 solid;
                padding: 0;
                font-weight: 200; }
  /* line 462, ../sass/_mquery-article.scss */
  body#tt-body-page div.google {
    width: 729px; } }
/* min-width 1025px, large screens */
@media only screen and (min-width: 90.063em) {
  /* line 471, ../sass/_mquery-article.scss */
  body#tt-body-page header {
    height: 100px; }
    /* line 473, ../sass/_mquery-article.scss */
    body#tt-body-page header h1.blogName {
      font-size: 58px; }
    /* line 476, ../sass/_mquery-article.scss */
    body#tt-body-page header div.blogMenu {
      margin-top: 35px; }
      /* line 480, ../sass/_mquery-article.scss */
      body#tt-body-page header div.blogMenu ul li a {
        padding-bottom: 30px; }
        /* line 482, ../sass/_mquery-article.scss */
        body#tt-body-page header div.blogMenu ul li a:hover {
          border-bottom: 5px solid #26d673; }
  /* line 490, ../sass/_mquery-article.scss */
  body#tt-body-page header.tiny {
    height: 60px; }
    /* line 492, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny h1.blogName {
      font-size: 30px; }
    /* line 495, ../sass/_mquery-article.scss */
    body#tt-body-page header.tiny div.blogMenu {
      margin-top: 15px; }
      /* line 499, ../sass/_mquery-article.scss */
      body#tt-body-page header.tiny div.blogMenu ul li a {
        padding-bottom: 10px; }
        /* line 501, ../sass/_mquery-article.scss */
        body#tt-body-page header.tiny div.blogMenu ul li a:hover {
          border-bottom: 5px solid #26d673; }
  /* line 509, ../sass/_mquery-article.scss */
  body#tt-body-page section.header {
    height: 400px;
    padding-top: 190px; }
    /* line 512, ../sass/_mquery-article.scss */
    body#tt-body-page section.header h2 {
      font-size: 60px; }
  /* line 516, ../sass/_mquery-article.scss */
  body#tt-body-page div.category {
    font-size: 36px; }
  /* line 519, ../sass/_mquery-article.scss */
  body#tt-body-page nav.sidebar2 {
    display: none !important;
    width: 15%; }
  /* line 523, ../sass/_mquery-article.scss */
  body#tt-body-page div.articleBody {
    width: 75%; }
  /* line 526, ../sass/_mquery-article.scss */
  body#tt-body-page div.metaWidget {
    width: 804px; }
    /* line 528, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaDaum {
      width: 100%;
      max-width: 402px; }
    /* line 532, ../sass/_mquery-article.scss */
    body#tt-body-page div.metaWidget div.metaMix {
      width: 100%;
      max-width: 402px; }
  /* line 537, ../sass/_mquery-article.scss */
  body#tt-body-page nav#sidebar {
    width: 25%;
    top: -175px; }
    /* line 540, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar h3.sideTitle {
      font-size: 40px;
      font-weight: 100;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
    /* line 545, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div.categoryList {
      display: block; }
  /* line 549, ../sass/_mquery-article.scss */
  body#tt-body-page div#paging {
    width: 100%; }
  /* line 552, ../sass/_mquery-article.scss */
  body#tt-body-page footer {
    width: 100%; }
  /* line 555, ../sass/_mquery-article.scss */
  body#tt-body-page div.google {
    width: 729px; } }
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 100.063em) {
  /* line 564, ../sass/_mquery-article.scss */
  body#tt-body-page nav.sidebar2 {
    display: block !important;
    width: 15%; }
  /* line 568, ../sass/_mquery-article.scss */
  body#tt-body-page div.articleBody {
    padding-left: 1%;
    padding-right: 1%;
    width: 65%; }
  /* line 573, ../sass/_mquery-article.scss */
  body#tt-body-page nav#sidebar {
    top: -175px;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
    margin-top: 0%; }
    /* line 579, ../sass/_mquery-article.scss */
    body#tt-body-page nav#sidebar div.categoryList {
      display: none; } }
/* min-width 1600px, xlarge screens */
/* min-width 1921px, xlarge screens */
