@charset "UTF-8";
/* !스프라이트 */
/* line 58, images/*.png */
.images-sprite {
  background: url('../images-s8f5c27a665.png') no-repeat; }

/* line 11, ../sass/Cartoon.scss */
body.Cartoon, body.STUFF {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
  /* 	background: url(../addon/tileable_wood_texture.jpg); */
  background: url(tileable_wood_texture.jpg);
  /* !헤더 메뉴	 */
  /* !열 시작ㄱ	 */
  /* !제목	 */
  /* ! 프로필	 */
  /* !관리도구	 */
  /* !카테고리	 */
  /* !본문	 */
  /* !소셜 도구	 */
  /* !버튼형 위젯	 */
  /* !소셜 위젯	 */
  /* !태그	 */
  /* !티스토리 기본댓글 */
  /* !페이징	 */
  /* !푸터	 */
  /* !맨위로		 */
  /* !바디 끝	 */ }
  /* line 27, ../sass/Cartoon.scss */
  body.Cartoon h1, body.Cartoon h2, body.Cartoon h3, body.Cartoon h4, body.Cartoon h5, body.Cartoon h6, body.STUFF h1, body.STUFF h2, body.STUFF h3, body.STUFF h4, body.STUFF h5, body.STUFF h6 {
    font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif; }
  /* line 31, ../sass/Cartoon.scss */
  body.Cartoon a, body.STUFF a {
    color: #53bf6b;
    text-decoration: none;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    /* line 18, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Cartoon a:visited, body.STUFF a:visited {
      color: #979dac; }
    /* line 21, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Cartoon a:focus, body.STUFF a:focus {
      color: #35ceb7; }
    /* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Cartoon a:hover, body.STUFF a:hover {
      color: #35ceb7; }
    /* line 27, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Cartoon a:active, body.STUFF a:active {
      color: #356ece; }
    /* line 4, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
    body.Cartoon a:hover, body.STUFF a:hover {
      text-decoration: underline; }
  /* line 38, ../sass/Cartoon.scss */
  body.Cartoon ::selection, body.STUFF ::selection {
    color: white;
    background: #53bf6b; }
  /* line 39, ../sass/Cartoon.scss */
  body.Cartoon ::-moz-selection, body.STUFF ::-moz-selection {
    color: white;
    background: #53bf6b; }
  /* line 42, ../sass/Cartoon.scss */
  body.Cartoon nav, body.STUFF nav {
    width: 100%;
    max-width: 1170px;
    background: #53BF6B;
    color: white;
    margin: 0 auto;
    display: block;
    -moz-border-radius-topleft: 40px;
    -webkit-border-top-left-radius: 40px;
    border-top-left-radius: 40px;
    -moz-border-radius-topright: 40px;
    -webkit-border-top-right-radius: 40px;
    border-top-right-radius: 40px;
    padding: 10px 0;
    margin-top: 5%; }
    /* line 52, ../sass/Cartoon.scss */
    body.Cartoon nav h1, body.STUFF nav h1 {
      font-family: "Damion", 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo;
      font-weight: 100;
      text-align: center;
      font-size: 55px; }
      /* line 57, ../sass/Cartoon.scss */
      body.Cartoon nav h1 a, body.STUFF nav h1 a {
        color: white !important;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
        /* line 60, ../sass/Cartoon.scss */
        body.Cartoon nav h1 a:hover, body.STUFF nav h1 a:hover {
          color: white !important;
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
    /* line 66, ../sass/Cartoon.scss */
    body.Cartoon nav div.blogMenu, body.STUFF nav div.blogMenu {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      font-size: 32px;
      text-align: center;
      position: relative;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
      /* line 75, ../sass/Cartoon.scss */
      body.Cartoon nav div.blogMenu ul, body.STUFF nav div.blogMenu ul {
        list-style: none;
        position: relative;
        margin: auto;
        clear: both;
        display: inline-block;
        float: none;
        padding: 0 20px; }
        /* line 83, ../sass/Cartoon.scss */
        body.Cartoon nav div.blogMenu ul li, body.STUFF nav div.blogMenu ul li {
          float: left;
          margin-right: 1em; }
          /* line 86, ../sass/Cartoon.scss */
          body.Cartoon nav div.blogMenu ul li a, body.STUFF nav div.blogMenu ul li a {
            font-size: 22px;
            color: rgba(255, 255, 255, 0.8);
            padding-bottom: 10px; }
            /* line 90, ../sass/Cartoon.scss */
            body.Cartoon nav div.blogMenu ul li a:hover, body.STUFF nav div.blogMenu ul li a:hover {
              color: white;
              text-decoration: none;
              border-bottom: 10px solid #fff;
              -webkit-transition-property: all;
              -moz-transition-property: all;
              -o-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.5s;
              -moz-transition-duration: 0.5s;
              -o-transition-duration: 0.5s;
              transition-duration: 0.5s;
              -webkit-transition-timing-function: ease;
              -moz-transition-timing-function: ease;
              -o-transition-timing-function: ease;
              transition-timing-function: ease; }
    /* line 101, ../sass/Cartoon.scss */
    body.Cartoon nav a#menuToggle, body.STUFF nav a#menuToggle {
      display: none; }
    /* line 104, ../sass/Cartoon.scss */
    body.Cartoon nav div.mobileMenu, body.STUFF nav div.mobileMenu {
      display: none; }
  /* line 109, ../sass/Cartoon.scss */
  body.Cartoon div.row, body.STUFF div.row {
    width: 100%;
    max-width: 1170px;
    background: white; }
  /* line 115, ../sass/Cartoon.scss */
  body.Cartoon header, body.STUFF header {
    padding: 20px; }
    /* line 117, ../sass/Cartoon.scss */
    body.Cartoon header h2.articleTitle, body.STUFF header h2.articleTitle {
      font-weight: 300;
      text-align: center;
      font-size: 48px; }
      /* line 121, ../sass/Cartoon.scss */
      body.Cartoon header h2.articleTitle a, body.STUFF header h2.articleTitle a {
        color: #53bf6b; }
    /* line 125, ../sass/Cartoon.scss */
    body.Cartoon header a.disqus_count, body.STUFF header a.disqus_count {
      display: block;
      background: #53bf6b;
      width: 60px;
      height: 60px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      color: white;
      text-align: center;
      font-size: 28px;
      font-weight: 500;
      padding-top: 15px;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease;
      z-index: 1;
      margin: auto;
      position: relative; }
      /* line 140, ../sass/Cartoon.scss */
      body.Cartoon header a.disqus_count:after, body.STUFF header a.disqus_count:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 8px 8px 0;
        border-color: #53bf6b transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -6px;
        left: 22px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
      /* line 153, ../sass/Cartoon.scss */
      body.Cartoon header a.disqus_count:hover, body.STUFF header a.disqus_count:hover {
        background: #f4f4f4;
        color: #53bf6b;
        text-decoration: none;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
        /* line 158, ../sass/Cartoon.scss */
        body.Cartoon header a.disqus_count:hover:after, body.STUFF header a.disqus_count:hover:after {
          border-color: #f4f4f4 transparent;
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
  /* line 166, ../sass/Cartoon.scss */
  body.Cartoon div.profileLayer, body.STUFF div.profileLayer {
    display: none; }
  /* line 169, ../sass/Cartoon.scss */
  body.Cartoon div.google, body.STUFF div.google {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 768px; }
  /* line 177, ../sass/Cartoon.scss */
  body.Cartoon div.admin, body.STUFF div.admin {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 20%;
    width: 50px;
    overflow: hidden;
    left: 0;
    color: white;
    font-size: 8px;
    padding: 2px;
    z-index: 999;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    /* line 193, ../sass/Cartoon.scss */
    body.Cartoon div.admin a, body.STUFF div.admin a {
      color: white;
      text-decoration: none;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
      /* line 198, ../sass/Cartoon.scss */
      body.Cartoon div.admin a:hover, body.STUFF div.admin a:hover {
        color: #53bf6b;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
  /* line 205, ../sass/Cartoon.scss */
  body.Cartoon div.category, body.STUFF div.category {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    display: block;
    clear: both;
    /* !글 작성날짜		 */ }
    /* line 211, ../sass/Cartoon.scss */
    body.Cartoon div.category a, body.STUFF div.category a {
      color: #53bf6b;
      text-decoration: none;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
      /* line 216, ../sass/Cartoon.scss */
      body.Cartoon div.category a:hover, body.STUFF div.category a:hover {
        color: #222;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
  /* line 223, ../sass/Cartoon.scss */
  body.Cartoon div.articleDate, body.STUFF div.articleDate {
    float: right;
    clear: both;
    margin-top: -15px;
    display: block;
    margin-right: 1em; }
    /* line 229, ../sass/Cartoon.scss */
    body.Cartoon div.articleDate div.year, body.STUFF div.articleDate div.year {
      font-size: 10px;
      font-weight: 200;
      clear: both;
      float: left; }
    /* line 235, ../sass/Cartoon.scss */
    body.Cartoon div.articleDate div.date, body.STUFF div.articleDate div.date {
      font-size: 12px;
      font-weight: 200;
      clear: both;
      float: left; }
    /* line 241, ../sass/Cartoon.scss */
    body.Cartoon div.articleDate div.time, body.STUFF div.articleDate div.time {
      float: right;
      font-size: 30px;
      font-weight: 200;
      margin-top: -25px; }
  /* line 249, ../sass/Cartoon.scss */
  body.Cartoon div.article, body.STUFF div.article {
    clear: both;
    margin-top: 40px;
    padding-top: 20px;
    font-weight: 400; }
    /* line 254, ../sass/Cartoon.scss */
    body.Cartoon div.article div.tt_article_useless_p_margin, body.STUFF div.article div.tt_article_useless_p_margin {
      -webkit-font-smoothing: subpixel-antialiased;
      font-family: 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif; }
      /* line 257, ../sass/Cartoon.scss */
      body.Cartoon div.article div.tt_article_useless_p_margin h1, body.Cartoon div.article div.tt_article_useless_p_margin h2, body.Cartoon div.article div.tt_article_useless_p_margin h3, body.Cartoon div.article div.tt_article_useless_p_margin h4, body.Cartoon div.article div.tt_article_useless_p_margin h5, body.Cartoon div.article div.tt_article_useless_p_margin h6, body.STUFF div.article div.tt_article_useless_p_margin h1, body.STUFF div.article div.tt_article_useless_p_margin h2, body.STUFF div.article div.tt_article_useless_p_margin h3, body.STUFF div.article div.tt_article_useless_p_margin h4, body.STUFF div.article div.tt_article_useless_p_margin h5, body.STUFF div.article div.tt_article_useless_p_margin h6 {
        -webkit-font-smoothing: subpixel-antialiased;
        font-family: 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif; }
  /* line 264, ../sass/Cartoon.scss */
  body.Cartoon div.more, body.STUFF div.more {
    position: relative;
    margin: 20px; }
    /* line 267, ../sass/Cartoon.scss */
    body.Cartoon div.more p, body.STUFF div.more p {
      text-align: center;
      font-size: 28px;
      background: #E5E5E5;
      width: 100px;
      margin: auto;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      border-radius: 40px;
      color: #000; }
      /* line 275, ../sass/Cartoon.scss */
      body.Cartoon div.more p a, body.STUFF div.more p a {
        color: #000;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
        /* line 278, ../sass/Cartoon.scss */
        body.Cartoon div.more p a:hover, body.STUFF div.more p a:hover {
          color: #53bf6b;
          text-decoration: none;
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
  /* line 288, ../sass/Cartoon.scss */
  body.Cartoon div#thumbsUp, body.STUFF div#thumbsUp {
    display: none;
    margin: 0;
    padding: 0; }
    /* line 292, ../sass/Cartoon.scss */
    body.Cartoon div#thumbsUp iframe, body.STUFF div#thumbsUp iframe {
      height: 30px; }
  /* line 297, ../sass/Cartoon.scss */
  body.Cartoon div#share-buttons, body.STUFF div#share-buttons {
    position: relative;
    display: block;
    margin: 10px auto;
    text-align: center; }
    /* line 302, ../sass/Cartoon.scss */
    body.Cartoon div#share-buttons a, body.STUFF div#share-buttons a {
      color: white;
      font-size: 22px;
      padding-top: 8px;
      display: inline-block;
      background: #53bf6b;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
      /* line 312, ../sass/Cartoon.scss */
      body.Cartoon div#share-buttons a:hover, body.STUFF div#share-buttons a:hover {
        background: #222;
        text-decoration: none;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
  /* line 320, ../sass/Cartoon.scss */
  body.Cartoon div.tagTrail, body.STUFF div.tagTrail {
    margin: 20px;
    font-weight: 200;
    text-align: center;
    clear: both;
    display: none; }
    /* line 326, ../sass/Cartoon.scss */
    body.Cartoon div.tagTrail a, body.STUFF div.tagTrail a {
      color: black;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
      /* line 329, ../sass/Cartoon.scss */
      body.Cartoon div.tagTrail a:hover, body.STUFF div.tagTrail a:hover {
        color: #53bf6b;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
  /* line 338, ../sass/Cartoon.scss */
  body.Cartoon div.TcommentList ul, body.STUFF div.TcommentList ul {
    list-style: none;
    margin: 0; }
  /* line 342, ../sass/Cartoon.scss */
  body.Cartoon div.TcommentList div.Tcomment, body.STUFF div.TcommentList div.Tcomment {
    width: 100%;
    padding-left: 80px;
    display: block;
    position: relative; }
    /* line 347, ../sass/Cartoon.scss */
    body.Cartoon div.TcommentList div.Tcomment img.defaultPic, body.STUFF div.TcommentList div.Tcomment img.defaultPic {
      position: absolute;
      left: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    /* line 352, ../sass/Cartoon.scss */
    body.Cartoon div.TcommentList div.Tcomment span.Tname, body.STUFF div.TcommentList div.Tcomment span.Tname {
      font-weight: 600; }
    /* line 355, ../sass/Cartoon.scss */
    body.Cartoon div.TcommentList div.Tcomment span.Tdate, body.STUFF div.TcommentList div.Tcomment span.Tdate {
      font-weight: 200; }
  /* line 359, ../sass/Cartoon.scss */
  body.Cartoon div.TcommentList div.TRcomment, body.STUFF div.TcommentList div.TRcomment {
    width: 100%;
    padding-left: 160px;
    display: block;
    position: relative; }
    /* line 364, ../sass/Cartoon.scss */
    body.Cartoon div.TcommentList div.TRcomment img.defaultPic, body.STUFF div.TcommentList div.TRcomment img.defaultPic {
      position: absolute;
      left: 80px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    /* line 369, ../sass/Cartoon.scss */
    body.Cartoon div.TcommentList div.TRcomment span.Tname, body.STUFF div.TcommentList div.TRcomment span.Tname {
      font-weight: 600; }
    /* line 372, ../sass/Cartoon.scss */
    body.Cartoon div.TcommentList div.TRcomment span.Tdate, body.STUFF div.TcommentList div.TRcomment span.Tdate {
      font-weight: 200; }
  /* line 377, ../sass/Cartoon.scss */
  body.Cartoon aside#sidebar, body.STUFF aside#sidebar {
    padding: 0;
    position: relative;
    /* !검색창		 */
    /* !카테고리		 */
    /* !네비바						 */ }
    /* line 380, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar h1.blogName, body.STUFF aside#sidebar h1.blogName {
      display: none; }
    /* line 383, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar hr.sidehr, body.STUFF aside#sidebar hr.sidehr {
      display: none; }
    /* line 386, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div.profileSide, body.STUFF aside#sidebar div.profileSide {
      background: #53bf6b;
      position: relative;
      padding: 20px 0; }
      /* line 390, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div.profileSide img, body.STUFF aside#sidebar div.profileSide img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        display: block;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
        /* line 397, ../sass/Cartoon.scss */
        body.Cartoon aside#sidebar div.profileSide img:hover, body.STUFF aside#sidebar div.profileSide img:hover {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
      /* line 402, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div.profileSide h3.ownerName, body.STUFF aside#sidebar div.profileSide h3.ownerName {
        font-family: "Damion", 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo;
        color: white;
        text-align: center;
        font-weight: 100; }
      /* line 408, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div.profileSide p, body.STUFF aside#sidebar div.profileSide p {
        color: white;
        text-align: center;
        margin: 0; }
        /* line 412, ../sass/Cartoon.scss */
        body.Cartoon aside#sidebar div.profileSide p a, body.STUFF aside#sidebar div.profileSide p a {
          color: white; }
      /* line 416, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div.profileSide p.contact, body.STUFF aside#sidebar div.profileSide p.contact {
        font-size: 32px;
        margin: 0;
        margin-bottom: 0px;
        line-height: 34px; }
        /* line 421, ../sass/Cartoon.scss */
        body.Cartoon aside#sidebar div.profileSide p.contact a, body.STUFF aside#sidebar div.profileSide p.contact a {
          text-decoration: none;
          color: white;
          -webkit-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
          /* line 426, ../sass/Cartoon.scss */
          body.Cartoon aside#sidebar div.profileSide p.contact a:hover, body.STUFF aside#sidebar div.profileSide p.contact a:hover {
            color: #53bf6b;
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: ease;
            -moz-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease; }
    /* line 436, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div#search input, body.STUFF aside#sidebar div#search input {
      width: 80%;
      display: block;
      text-align: center;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      height: 40px;
      background: #E5E5E5;
      margin: 20px auto;
      border: 0;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: 200;
      font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif;
      font-style: italic;
      outline: 0;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      /* line 453, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div#search input:focus, body.STUFF aside#sidebar div#search input:focus {
        background: #53bf6b;
        color: #fff;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
      /* line 460, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div#search input:hover, body.STUFF aside#sidebar div#search input:hover {
        box-shadow: #53bf6b 0 0 0 2px;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
    /* line 468, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar a#categoryToggle, body.STUFF aside#sidebar a#categoryToggle {
      display: none;
      margin: 10px 0;
      font-weight: 200;
      font-size: 24px;
      text-align: center;
      list-style: none;
      color: #000;
      display: block;
      line-height: 36px;
      border-top: #E5E5E5 1px solid;
      border-bottom: #E5E5E5 1px solid;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition-property: background, color;
      -moz-transition-property: background, color;
      -o-transition-property: background, color;
      transition-property: background, color;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
      /* line 486, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar a#categoryToggle:hover, body.STUFF aside#sidebar a#categoryToggle:hover {
        color: #53bf6b;
        text-decoration: none;
        background: #E5E5E5;
        border-left: 1px #53bf6b solid;
        padding-right: 1px;
        -webkit-transition-property: background, color;
        -moz-transition-property: background, color;
        -o-transition-property: background, color;
        transition-property: background, color;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
    /* line 497, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div#category, body.STUFF aside#sidebar div#category {
      text-align: center;
      display: none; }
      /* line 500, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div#category ul, body.STUFF aside#sidebar div#category ul {
        list-style: none;
        margin: 0; }
        /* line 503, ../sass/Cartoon.scss */
        body.Cartoon aside#sidebar div#category ul li, body.STUFF aside#sidebar div#category ul li {
          font-weight: 700; }
          /* line 506, ../sass/Cartoon.scss */
          body.Cartoon aside#sidebar div#category ul li a, body.STUFF aside#sidebar div#category ul li a {
            color: black;
            border-bottom: 1px solid #c5c5c5;
            width: 100%;
            display: block; }
            /* line 511, ../sass/Cartoon.scss */
            body.Cartoon aside#sidebar div#category ul li a:hover, body.STUFF aside#sidebar div#category ul li a:hover {
              color: #53bf6b;
              text-decoration: none;
              background: #f4f4f4; }
          /* line 518, ../sass/Cartoon.scss */
          body.Cartoon aside#sidebar div#category ul li ul li, body.STUFF aside#sidebar div#category ul li ul li {
            font-weight: 500;
            width: auto; }
            /* line 521, ../sass/Cartoon.scss */
            body.Cartoon aside#sidebar div#category ul li ul li ul, body.STUFF aside#sidebar div#category ul li ul li ul {
              -moz-column-count: 4;
              /* Firefox */
              -webkit-column-count: 4;
              /* Safari and Chrome */
              column-count: 4;
              -moz-column-gap: 40px;
              /* Firefox */
              -webkit-column-gap: 40px;
              /* Safari and Chrome */
              column-gap: 40px;
              -moz-column-rule: 1px outset #53bf6b;
              /* Firefox */
              -webkit-column-rule: 1px outset #53bf6b;
              /* Safari and Chrome */
              column-rule: 1px outset #53bf6b; }
              /* line 533, ../sass/Cartoon.scss */
              body.Cartoon aside#sidebar div#category ul li ul li ul li, body.STUFF aside#sidebar div#category ul li ul li ul li {
                font-weight: 200; }
    /* line 542, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div#noticeSide, body.STUFF aside#sidebar div#noticeSide {
      display: inline-block;
      width: 24%;
      padding: 10px; }
      /* line 546, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div#noticeSide ul, body.STUFF aside#sidebar div#noticeSide ul {
        list-style: none;
        margin: 0; }
    /* line 551, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div#recentPost, body.STUFF aside#sidebar div#recentPost {
      display: inline-block;
      width: 24%;
      padding: 10px; }
      /* line 555, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div#recentPost ul, body.STUFF aside#sidebar div#recentPost ul {
        list-style: none;
        margin: 0; }
    /* line 560, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div#archive, body.STUFF aside#sidebar div#archive {
      display: inline-block;
      width: 24%;
      padding: 10px; }
      /* line 564, ../sass/Cartoon.scss */
      body.Cartoon aside#sidebar div#archive ul, body.STUFF aside#sidebar div#archive ul {
        list-style: none;
        margin: 0; }
    /* line 569, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div#calendar, body.STUFF aside#sidebar div#calendar {
      display: inline-block;
      width: 25%;
      display: none; }
    /* line 574, ../sass/Cartoon.scss */
    body.Cartoon aside#sidebar div#link, body.STUFF aside#sidebar div#link {
      display: inline-block;
      width: 24%;
      padding: 10px; }
  /* line 582, ../sass/Cartoon.scss */
  body.Cartoon div#paging, body.STUFF div#paging {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    padding: 20px 10px; }
    /* line 590, ../sass/Cartoon.scss */
    body.Cartoon div#paging a, body.STUFF div#paging a {
      color: #53bf6b;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
    /* line 594, ../sass/Cartoon.scss */
    body.Cartoon div#paging a#prevPage, body.Cartoon div#paging a#nextPage, body.STUFF div#paging a#prevPage, body.STUFF div#paging a#nextPage {
      font-family: 'entypo', sans-serif; }
  /* line 599, ../sass/Cartoon.scss */
  body.Cartoon footer, body.STUFF footer {
    background: #53bf6b;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    -moz-border-radius-bottomleft: 40px;
    -webkit-border-bottom-left-radius: 40px;
    border-bottom-left-radius: 40px;
    -moz-border-radius-bottomright: 40px;
    -webkit-border-bottom-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 5%;
    padding: 20px 0;
    padding-top: 0;
    /* !구분선												 */
    /* !소셜 아이콘 리스트		 */
    /* !소셜 SVG	 */ }
    /* line 608, ../sass/Cartoon.scss */
    body.Cartoon footer h1, body.Cartoon footer hr, body.STUFF footer h1, body.STUFF footer hr {
      display: none; }
    /* line 611, ../sass/Cartoon.scss */
    body.Cartoon footer p, body.STUFF footer p {
      color: white;
      text-align: center;
      font-weight: 200;
      margin: 0; }
    /* line 618, ../sass/Cartoon.scss */
    body.Cartoon footer div.line, body.STUFF footer div.line {
      width: 60%;
      height: 2px;
      background: rgba(255, 255, 255, 0.5);
      position: relative;
      margin: 20px auto;
      margin-bottom: 10px; }
    /* line 628, ../sass/Cartoon.scss */
    body.Cartoon footer div.socialIcon, body.STUFF footer div.socialIcon {
      width: 100%;
      position: relative;
      display: block;
      text-align: center;
      margin-top: 10px; }
      /* line 634, ../sass/Cartoon.scss */
      body.Cartoon footer div.socialIcon a.social, body.STUFF footer div.socialIcon a.social {
        display: inline-block;
        text-align: center; }
        /* line 637, ../sass/Cartoon.scss */
        body.Cartoon footer div.socialIcon a.social .icon, body.STUFF footer div.socialIcon a.social .icon {
          width: 60px;
          height: 68px; }
        /* line 641, ../sass/Cartoon.scss */
        body.Cartoon footer div.socialIcon a.social path#hex, body.STUFF footer div.socialIcon a.social path#hex {
          fill: #fff; }
        /* line 644, ../sass/Cartoon.scss */
        body.Cartoon footer div.socialIcon a.social path#icon, body.STUFF footer div.socialIcon a.social path#icon {
          fill: #53bf6b; }
        /* line 648, ../sass/Cartoon.scss */
        body.Cartoon footer div.socialIcon a.social:hover path#hex, body.STUFF footer div.socialIcon a.social:hover path#hex {
          fill: #53bf6b; }
        /* line 651, ../sass/Cartoon.scss */
        body.Cartoon footer div.socialIcon a.social:hover path#icon, body.STUFF footer div.socialIcon a.social:hover path#icon {
          fill: white; }
  /* line 660, ../sass/Cartoon.scss */
  body.Cartoon a.gtt, body.STUFF a.gtt {
    text-align: center;
    color: #53bf6b;
    position: relative;
    display: block;
    font-size: 28px;
    background: white;
    width: 60px;
    margin: 0 auto;
    padding-top: 2px;
    height: 45px;
    width: 90px;
    border-radius: 0 0 90px 90px;
    -moz-border-radius: 0 0 90px 90px;
    -webkit-border-radius: 0 0 90px 90px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    /* line 676, ../sass/Cartoon.scss */
    body.Cartoon a.gtt:hover, body.STUFF a.gtt:hover {
      color: #222;
      text-decoration: none;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
