@charset "UTF-8";
/* line 8, ../sass/Profile.scss */
html {
  -webkit-font-smoothing: antialiased; }

/* line 12, ../sass/Profile.scss */
body.Profile {
  font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important;
  font-weight: normal;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative; }
  /* line 15, ../sass/Profile.scss */
  body.Profile a {
    color: #26d673;
    text-decoration: none;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    /* line 18, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Profile a:visited {
      color: #979dac; }
    /* line 21, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Profile a:focus {
      color: #35ceb7; }
    /* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Profile a:hover {
      color: #35ceb7; }
    /* line 27, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Profile a:active {
      color: #356ece; }
    /* line 4, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
    body.Profile a:hover {
      text-decoration: underline; }
  /* line 22, ../sass/Profile.scss */
  body.Profile h1, body.Profile h2, body.Profile h3, body.Profile h4, body.Profile h5, body.Profile h6 {
    font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important; }
  /* line 27, ../sass/Profile.scss */
  body.Profile ::selection {
    color: white;
    background: #26d673; }
  /* line 28, ../sass/Profile.scss */
  body.Profile ::-moz-selection {
    color: white;
    background: #26d673; }
  /* line 33, ../sass/Profile.scss */
  body.Profile div.off-canvas-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0; }
  /* line 40, ../sass/Profile.scss */
  body.Profile div.inner-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0; }
  /* line 47, ../sass/Profile.scss */
  body.Profile div.row {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0; }
  /* line 54, ../sass/Profile.scss */
  body.Profile div#content {
    padding: 0;
    width: 100%;
    height: 100%; }
  /* line 60, ../sass/Profile.scss */
  body.Profile div.tt_article_useless_p_margin {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important; }
    /* line 65, ../sass/Profile.scss */
    body.Profile div.tt_article_useless_p_margin div.hero {
      /* 			background: url(../addon/Profile.jpg) no-repeat center center ; */
      background: url(http://cfile7.uf.tistory.com/image/2612B9355328CB9136E60B) no-repeat center center;
      background-size: cover;
      width: 100%;
      height: 50%;
      display: block;
      position: relative; }
      /* line 73, ../sass/Profile.scss */
      body.Profile div.tt_article_useless_p_margin div.hero div.title {
        width: 75%;
        height: 60%;
        /* 			  overflow: auto; */
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
        /* line 80, ../sass/Profile.scss */
        body.Profile div.tt_article_useless_p_margin div.hero div.title h1 {
          text-align: center;
          font-family: "Damion", 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo !important;
          font-size: 150px;
          line-height: 180px;
          color: white;
          margin: 0; }
        /* line 88, ../sass/Profile.scss */
        body.Profile div.tt_article_useless_p_margin div.hero div.title h3 {
          font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important;
          font-weight: 400;
          text-align: center;
          color: white;
          display: block; }
          /* line 94, ../sass/Profile.scss */
          body.Profile div.tt_article_useless_p_margin div.hero div.title h3 span {
            border: 5px solid white;
            padding: 8px; }
    /* line 101, ../sass/Profile.scss */
    body.Profile div.tt_article_useless_p_margin div.white {
      width: 100%;
      padding: 40px 5%;
      font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important; }
      /* line 105, ../sass/Profile.scss */
      body.Profile div.tt_article_useless_p_margin div.white h3 {
        font-weight: 200;
        font-size: 55px;
        line-height: 90px;
        font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important; }
      /* line 111, ../sass/Profile.scss */
      body.Profile div.tt_article_useless_p_margin div.white p {
        font-size: 1.2em; }
    /* line 116, ../sass/Profile.scss */
    body.Profile div.tt_article_useless_p_margin div.black {
      width: 100%;
      padding: 40px 5%;
      background: #222;
      color: #fff;
      font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important; }
      /* line 122, ../sass/Profile.scss */
      body.Profile div.tt_article_useless_p_margin div.black h3 {
        font-weight: 200;
        font-size: 55px;
        line-height: 90px;
        color: #fff;
        font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif !important; }
      /* line 129, ../sass/Profile.scss */
      body.Profile div.tt_article_useless_p_margin div.black p {
        font-size: 1.2em; }
  /* line 137, ../sass/Profile.scss */
  body.Profile nav h1 {
    display: none; }
  /* line 140, ../sass/Profile.scss */
  body.Profile nav a#menuToggle {
    display: none; }
  /* line 143, ../sass/Profile.scss */
  body.Profile nav div.mobileMenu {
    display: none; }
  /* line 146, ../sass/Profile.scss */
  body.Profile nav div.blogMenu {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    /* line 159, ../sass/Profile.scss */
    body.Profile nav div.blogMenu ul {
      list-style: none;
      position: relative;
      margin: auto;
      clear: both;
      display: inline-block;
      float: none;
      padding: 0 20px; }
      /* line 167, ../sass/Profile.scss */
      body.Profile nav div.blogMenu ul li {
        float: left;
        margin-right: 1em; }
        /* line 170, ../sass/Profile.scss */
        body.Profile nav div.blogMenu ul li a {
          color: rgba(255, 255, 255, 0.8); }
          /* line 172, ../sass/Profile.scss */
          body.Profile nav div.blogMenu ul li a:hover {
            color: white;
            text-decoration: none;
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease;
            -moz-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease; }
        /* line 179, ../sass/Profile.scss */
        body.Profile nav div.blogMenu ul li:last-child {
          margin-right: 0; }
  /* line 187, ../sass/Profile.scss */
  body.Profile aside#sidebar {
    display: none; }
  /* line 190, ../sass/Profile.scss */
  body.Profile div#paging {
    display: none; }
  /* line 193, ../sass/Profile.scss */
  body.Profile footer {
    display: none; }

@media only screen {
  /* line 204, ../sass/Profile.scss */
  body.Profile div.tt_article_useless_p_margin div.hero div.title h1 {
    font-size: 100px;
    line-height: 130px; }
  /* line 208, ../sass/Profile.scss */
  body.Profile div.tt_article_useless_p_margin div.hero div.title h3 {
    font-size: 18px; } }
/* Define mobile styles */
@media only screen and (min-width: 40.063em) {
  /* line 223, ../sass/Profile.scss */
  body.Profile div.tt_article_useless_p_margin div.hero div.title h1 {
    font-size: 150px;
    line-height: 180px; }
  /* line 227, ../sass/Profile.scss */
  body.Profile div.tt_article_useless_p_margin div.hero div.title h3 {
    font-size: 27px; } }
/* min-width 641px, medium screens */
/* min-width 1025px, large screens */
/* min-width 1441px, xlarge screens */
/* min-width 1921px, xlarge screens */
