@charset "UTF-8";
/* line 6, ../sass/quotes.scss */
html {
  -webkit-font-smoothing: antialiased; }

/* line 13, ../sass/quotes.scss */
body.Quotes {
  /* 	background: url(../addon/parallax1.jpg) no-repeat center center fixed; */
  background: url(http://cfile4.uf.tistory.com/image/2426EF355328CB8F3585E8) no-repeat center center fixed;
  background-size: cover; }
  /* line 14, ../sass/quotes.scss */
  body.Quotes a {
    color: #26d673;
    text-decoration: none;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    /* line 18, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Quotes a:visited {
      color: #979dac; }
    /* line 21, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Quotes a:focus {
      color: #35ceb7; }
    /* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Quotes a:hover {
      color: #35ceb7; }
    /* line 27, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
    body.Quotes a:active {
      color: #356ece; }
    /* line 4, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
    body.Quotes a:hover {
      text-decoration: underline; }
  /* line 21, ../sass/quotes.scss */
  body.Quotes h1, body.Quotes h2, body.Quotes h3, body.Quotes h4, body.Quotes h5, body.Quotes h6 {
    font-family: "Raleway" , 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif; }
  /* line 25, ../sass/quotes.scss */
  body.Quotes ::selection {
    color: white;
    background: #26d673; }
  /* line 26, ../sass/quotes.scss */
  body.Quotes ::-moz-selection {
    color: white;
    background: #26d673; }
  /* line 32, ../sass/quotes.scss */
  body.Quotes div.row {
    width: 100%;
    max-width: 960px;
    margin: auto;
    position: relative; }
  /* line 39, ../sass/quotes.scss */
  body.Quotes div.tt_article_useless_p_margin {
    margin-top: 10%;
    -webkit-font-smoothing: subpixel-antialiased; }
    /* line 42, ../sass/quotes.scss */
    body.Quotes div.tt_article_useless_p_margin blockquote.tx-quote-tistory {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      font-family: 'Nanum Myeongjo', 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, serif;
      font-family: serif;
      border: 0;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px;
      padding: 60px 20px;
      margin-bottom: 100px;
      position: relative;
      z-index: 100;
      -webkit-transition-property: background;
      -moz-transition-property: background;
      -o-transition-property: background;
      transition-property: background;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease; }
      /* line 54, ../sass/quotes.scss */
      body.Quotes div.tt_article_useless_p_margin blockquote.tx-quote-tistory:hover {
        background: black;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
      /* line 58, ../sass/quotes.scss */
      body.Quotes div.tt_article_useless_p_margin blockquote.tx-quote-tistory p {
        color: white;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        font-style: italic;
        font-family: Nanum Myeongjo, serif;
        font-weight: normal; }
      /* line 68, ../sass/quotes.scss */
      body.Quotes div.tt_article_useless_p_margin blockquote.tx-quote-tistory:before {
        content: '“';
        font-size: 180px;
        margin: 0;
        line-height: 220px;
        padding: 0 5px;
        color: #26d673;
        position: absolute;
        font-family: 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, 돋움, dotum, sans-serif;
        background: white;
        display: block;
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        top: -40px;
        left: 50%;
        margin-left: -40px; }
    /* line 87, ../sass/quotes.scss */
    body.Quotes div.tt_article_useless_p_margin div.entry-ccl {
      display: none; }
  /* line 93, ../sass/quotes.scss */
  body.Quotes nav {
    display: none; }
  /* line 97, ../sass/quotes.scss */
  body.Quotes aside#sidebar {
    display: none; }
  /* line 100, ../sass/quotes.scss */
  body.Quotes div#paging {
    display: none; }
  /* line 103, ../sass/quotes.scss */
  body.Quotes footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0; }
    /* line 109, ../sass/quotes.scss */
    body.Quotes footer h1 {
      text-align: center;
      font-family: "Damion", 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo;
      font-weight: 100; }
      /* line 113, ../sass/quotes.scss */
      body.Quotes footer h1 a {
        color: white !important;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease; }
        /* line 116, ../sass/quotes.scss */
        body.Quotes footer h1 a:hover {
          text-decoration: none;
          color: #26d673;
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: ease;
          -moz-transition-timing-function: ease;
          -o-transition-timing-function: ease;
          transition-timing-function: ease; }
    /* line 123, ../sass/quotes.scss */
    body.Quotes footer hr, body.Quotes footer p, body.Quotes footer ul {
      display: none; }
    /* line 126, ../sass/quotes.scss */
    body.Quotes footer div.socialIcon {
      display: none; }
